{% extends "layout.html" %}
{% block content %}
 <legend>Create Topic</legend>
 <form action="do-add_topic" class="add-topic-form" method="POST" onsubmit="return validateTopicForm() ">
     <div class="control-group title-controlgroup">
         <label class="control-label" for="title"><strong>Title</strong></label>
         <div class="controls">
             <input type="text" id="inputTitle" class="input-xlarge" name="title" placeholder="Title">
         </div>
         <span class="help-inline title-error" style="display:none;"></span>
     </div>
     <div class="control-group description-controlgroup">
         <label class="control-label" for="inputDescription"><strong>Description</strong></label>
         <div class="controls">
             <textarea rows="3" class="description-txtarea" name="description" id="inputDescription" placeholder="Type the description of your topic here"></textarea>
         </div>
         <span class="help-inline description-error" style="display:none;"></span>
     </div>
     <div class="control-group tags-controlgroup">
     <label class="control-label" for="inputKeywords"><strong>Keywords</strong></label>
		<div class="input-prepend input-append">
	  		<span class="add-on"><i class="icon-tags"></i></span><input class="input-large tags-value inputKeywords" id="appendedPrependedInput" size="16" type="text"  placeholder="Enter the keywords here" ><button class="btn btn-primary" id="add-tag">Add</button>
		</div>
		<span class="help-inline tags-error" style="display:none;"></span>
	</div>
	<div class="tags-container"></div>
     <div class="control-group">
 			<label class="control-label" for="inputKeywords"><strong>Type</strong></label>
         <label class="radio inline">
         <input type="radio" name="access_type" id="optionsRadios1" value="1" checked>
         Public
         </label>
         <label class="radio inline">
             <input type="radio" name="access_type" id="optionsRadios2" value="3">
         Unlisted
         </label>
         <label class="radio inline">
             <input type="radio" name="access_type" id="optionsRadios2" value="5">
             Private
         </label>     
     </div>
     <button type="submit" class="btn">Create Topic</button>
</form>
{% endblock %}