<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/scripts.js"></script>
    <script src="../assets/js/jquery.lightbox_me.js"></script>
    <script src="../assets/js/jRating.jquery.js"></script>
    <script type="text/javascript" src="ckeditor/ckeditor_basic.js"></script>
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/jRating.jquery.css" rel="stylesheet">
    <!--  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
   	<div class="ajaxLoader" style=""><img src="../assets/img/ajax-loader.gif"></img></div>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Essay</a>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                    <ul class="nav pull-right">
                    {% if not currentUser %}
                    	<li ><a href="login">Login</a></li>
                  	{% else %}
                  		<li ><a href="{{logoutUrl}}">Logout</a></li>
                    {% endif %}
                        <li><a href="register">Register</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="span2 left-block">
                <ul class="nav nav-list">
                    <li class="nav-header">Primary Links</li>
                    <li><a href="">Introduction</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li class="nav-header">Secondary Links</li>
                    <li><a href="create-topic">Create Topic</a></li>
                    <li><a href="topics">Topics</a></li>
                    <li><a href="">Find Articles</a></li>
                    <li><a href="">Top Users</a></li>
                    <li><a href="">Top Articles</a></li>
				</ul>
                </div>
                <div class="span10 right-block" style="">
                {% block content %}{% endblock %}
                </div>
            </div>
            <div class="row footer"><div class="span12 footer-text">Copy right all rights reserved</div></div>
        </div>
    </body>
</html>