{% extends "layout.html" %}
{% block content %}
 <div class="span12">
	<legend>Register Here</legend>
	    <form class="form-horizontal">
	        <div class="control-group">
	            <label class="control-label" for="email">E-mail</label>
	            <div class="controls">
	                <input type="text" name="firstname" placeholder="Enter your Email Here">
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="email">Password</label>
	            <div class="controls">
	                <input type="password" placeholder="Enter Password">
	            </div>
	            
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="email">Confirm Password</label>
	            <div class="controls">
	                <input type="password" placeholder="Confirm Password">
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="email">Nick</label>
	            <div class="controls">
	                <input type="text" placeholder="Enter Your Nick here">
	            </div>
	        </div>
	        <div class="control-group">
	            
	            <label class="control-label" for="email">About me</label>
	            <div class="controls">
	                <textarea rows="3"></textarea>
	            </div>
	        </div>
	        <div class="control-group">
	            <div class="controls">
	                <button type="submit" class="btn">Submit</button>
	            </div>
	        </div>
	    </form>
        <div>
    </div>
</div>
{% endblock %}