{% extends "layout.html" %}
{% block content %}
<legend>{{ title }}</legend>
	{% for topic in topics %}
	<div class="row topics-row">
		<div class="essay-count">
			<div class='large-count'>0</div>
			<div>essays</div>
		</div>
		<div class="summary">
			<div class="topic-title">
				<h3><a href="#" class="summary-hyperlink">{{ topic.title }}</a></h3>
			</div>
			<div class="misc-info">
				<div class="keywords" style="float:left;">
					<span class="label">{{topic.tags}}</span>
					<span class="label">test</span>
					<span class="label">sample</span>
				</div>
				<div class="info"><a href="">Faizan</a></div>
				<div class="info time">2m ago</div>
			</div>
		</div>
	</div>			
	 {% endfor %}

{% endblock %}