{% extends "layout.html" %}

{% block content %}

<legend>{{ title }}</legend>
	{% for topic in topicsArray %}
	<div class="row topics-row">
		<div class="essay-count">
			<div class='large-count'>0</div>
			<div>essays</div>
		</div>
		<div class="summary">
			<div class="topic-title">
				<h3><a href="view-topic?t={{topic.id}}" class="summary-hyperlink">{{ topic.title }}</a></h3>
			</div>
			<div class="misc-info">
				<div class="keywords">
					{% for keyword in topic.keywords %}
						<span class="label">{{ keyword }}</span>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="topic-tasks span10">
				<span class="task-link"><i class="icon-plus-sign"></i><a href="#">Add Essay</a></span>
				{% if topic.is_owner %}
				<span class="task-link"><i class="icon-edit"></i><a href="edit-topic?t={{topic.id}}">Edit Topic</a></span>
				<span class="task-link"><i class="icon-trash"></i><a href="#" name="{{ topic.title }}" class="delete-topic" id="{{topic.id}}">Delete Topic</a></span>
				{% endif %}
				<span class="task-link"><i class="icon-share-alt"></i><a href="#">Subscribe</a></span>
			</div>
			<div class="time_and_owner span2">
				<div class="info"><a href="">{{ topic.owner }}</a></div>
				<div class="info time">{{ topic.added_duration.num}} {{ topic.added_duration.metric}} ago</div>
			</div>
		</div>
	</div>			
	 {% endfor %}
	 <div id="confirm-delete-popup" class="popup" style="display: none;">
	 <legend>Confirm Delete</legend>
	 <div id="delete-topic-title"></div>
	 	<button class="btn btn-danger" id="btn-confirm-delete">Confirm</button>
	 	<button class="btn" id="cancel-delete">Cancel</button>
	</div>

{% endblock %}