<!DOCTYPE html>
<html lang="en">

<script src="../assets/js/jquery.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.js" type="text/javascript"></script>
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../assets/css/style.css" rel="stylesheet">
<body>
	<div class="container-fluid">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Essay</a>
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
				</ul>
				<ul class="nav pull-right">
					<li><a href="#">Login</a></li>
					<li><a href="register">Register</a></li>
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span2 left-block">
				<legend>Quick links</legend>
				<ul class="nav nav-list">
					<li class="nav-header">Primary Links</li>
					<li><a href="">Introduction</a></li>
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li class="nav-header">Secondary Links</li>
					<li><a href="create-topic">Create Topic</a></li>
					<li><a href="topics">Topics</a></li>
					<li><a href="">Find Articles</a></li>
					<li><a href="">Top Users</a></li>
					<li><a href="">Top Articles</a></li>
				</ul>
			</div>
			<div class="span10 right-block" style="">
				<legend>{{ title }}</legend>
				<h1>List of Topics</h1>
				<table class="table">
					<th>title</th>
					<th>Description</th>
					<th>Owner</th> 
					<th>created</th> 
					{% for topic in topics %}
						{% if not topic.is_deleted %}
							{% ifequal topic.access_type 1%}
					<tr>
						<td>{{ topic.title }}</td>
						<td>{{topic.description }}</td>
						<td>{{topic.owner}}</td>
						<td>{{topic.created}}</td>
					</tr>
							{% endifequal %}
						{% endif %}
						
					 {% endfor %}
				</table>

			</div>

		</div>
	</div>
	<div class="row-fluid footer">
		<div class="span12 footer-text">Copy right all rights reserved</div>
	</div>
	<div></div>
</body>
</html>